
<head>
  <title>Navbar Example</title>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <!-- Rest of your HTML content -->

</body>



<body>
    <header>
        <div class="nac container"></div>

        <!-- <a href="#" class="logo"><strong>STREET FOOD</strong></a>
        <i class='bx bx-restaurant' id="cart-icon "data-quantity="0"></i>
    </header>
    <router-outlet></router-outlet>
</body>
<title>WELCOME TO THE STREET FOOD ONLINE</title>
  <body> -->
  
  

  <div class="card">
    <img src="https://i.pinimg.com/564x/39/22/66/392266d0061eb096bb97d048adaa30f5.jpg" alt="Card Image">
    <h3>BURGER</h3>
    <p></p>
  </div>

  <div class="card">
    <img src="https://i.pinimg.com/736x/4d/5d/91/4d5d912c1f298a5ebd6e31e09a1381bd.jpg" alt="Card Image">
    <h3>CHEESY FRIES</h3>
    <p></p>
  </div>

  <div class="card">
    <img src="https://i.pinimg.com/564x/2c/3c/b7/2c3cb7eb34bd9a97482d866a1646dadb.jpg" alt="Card Image">
    <h3>DESERT</h3>
    <p></p>
  </div>

  <div class="card">
    <img src="https://i.pinimg.com/736x/3b/16/c3/3b16c32deabf002e40421dc82a18b070.jpg" alt="Card Image">
    <h3>PANCAKES</h3>
    <p></p>
  </div>





 
  