<html>
<head>
   
</head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatble" content="IE-edge">
<meta name="vieport" content="width=device-width, initial-scale=1.0">
<title>TREET FOOD - SHOPPING CART</title>

<!-- <link rel="stylesheet" href="scss/style.scss"> -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
    <header>
        <div class="nac container"></div>

        <a href="#" class="logo">STREET FOOD</a>
        <i class='bx bx-restaurant' id="cart-icon "data-quantity="0"></i>
    </header>
    <router-outlet></router-outlet>
</body>
</html>
