@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --main-color: red;
    --text-color: green;
    --bg-color: white;
    --container-color: black;
}


img{
    width: 100%;
}

body{
    color: var(--container-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--container-color);
    box-shadow: 0 1px hsla(0, 0, 98%, 0.1);
    z-index: 100;
}
// .nav{
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 20rem;
    


nav {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  
  
  .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0b0707; /* Set your desired background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.968); /* Optional: Add shadow to the card */
    background-color: rgb(8, 8, 8);
    background-size: center;
    background-position: center;
    // background-image: url();
    opacity: 0.5;
    background-color: #000; /* Optional: Add a solid background color instead of opacity */
    z-index: -1

  }
  body, html {
    height: 100%;
    margin: 0;
  }
  
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }  
 
  .card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 5rem;
    
  }
  
  *card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;

  }
  
  .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    
  }
  
  .card p {
    font-size: 16px;
  }
  