@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    

}

// :root {
//     --main-color: red;
//     --text-color: green;
//     --bg-color: white;
//     --container-color: black;
// }


img{
    width: 100%;
}

body{
    color: var(--container-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--container-color);
    box-shadow: 0 1px hsla(0, 0, 98%, 0.1);
    z-index: 100;
}

nav {
    background-color: #ad0773;
    color: #0b0a0a;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #070303;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  .card-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(8, 8, 8);
    background-size: center;
    background-position: center;
    opacity: 0.5;
    z-index: -1
  }

  body, html {
    height: 100%;
    margin: 0;
  }
  
  .a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }  
 
  .card {
    width: 20rem; 
    height: 20rem; 
    padding-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 5rem;
    
  }

  
  .card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    
  }
