
<head>
  <title>Navbar Example</title>
  <link rel="stylesheet" type="text/css" href="">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#"><strong>Home</strong></a></li>
      <li><a href="#"><strong>About</strong></a></li>
      <li><a href="#"><strong>Services</strong></a></li>
      <li><a href="#"><strong>Contact</strong></a></li>
    </ul>
  </nav>
  

  <!-- Rest of your HTML content -->

</body>



<body>
    <header>
        <div class="nac container"></div>

  <div class="card">
    <img src="https://i.pinimg.com/564x/41/43/ec/4143ec00a7bbb3749054eccdcbff0b7a.jpg" alt="Card Image">
    <h3>MALA MOGODU</h3>
    <p></p>
  </div>

  <div class="card">
    <img src="https://i.pinimg.com/564x/a8/b2/42/a8b242b14d2e82fa7d06324896d9ebec.jpg" alt="Card Image">
    <h3>FRIED HAKE</h3>
    <p></p>
  </div>

  <div class="card">
    <img src="https://i.pinimg.com/564x/cf/1b/05/cf1b057b65877c0f5b48f811cb09f228.jpg" alt="Card Image">
    <h3>BRAAI MEAT</h3>
    <p></p>
  </div>

  <div class="card">
    <img src="https://i.pinimg.com/564x/99/eb/0d/99eb0dfd3f2f5b48d384d42d4430b246.jpg" alt="Card Image">
    <h3>STEW</h3>






 
  